.navbar, .navbar-default{
	background : #91A3B0;
	border-radius : 0;
}
.navbar-brand{
	color : red;
}

.s_title{
	font-size : 1.3em;
}
#Beef, #Chicken, #Sushi{
	margin-bottom : 15px;
	background : #91A3B0;
}
p{
	margin-bottom : 0px;
}